/**
Стандартные классы кнопок стиля outline
.button-outline-green
.button-outline-orange
.button-outline-red
.button-outline-gray

Стандартные классы текста жирный, все буквы в верхнем регистре
.text-bold-size-14
**/

// Body
$body-bg: #f8f9fa;

// Typography
$font-family-sans-serif: 'Play',
sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #003897;
$yellow: #ffed4a;
$green: #0D6247;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$white: #FFFFFF;
$brown: #362518;
$gray: #AAAAAA;
$gray-light: #e4e6eb;
