.green-filter>span {
    border: 1px solid #003897;
    border-radius: 20px;
    padding: 2px 10px;
    color: #003897;
    cursor: pointer;
    margin-right: 20px;
    white-space: nowrap;
}

.green-filter span.active {
    border: 1px solid #003897 !important;
    color: #003897 !important;
}

.green-filter>span:hover {
    border: 1px solid #003897 !important;
    color: #003897 !important;
    transition: 0.2s;
    background-color: transparent;
}
