@media screen and (max-width: 768px) {
    .sidebar {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 5;
        top: 50.09px !important;
        left: 0;
        background-color: #ffffff;
        overflow-x: hidden;
        transition: 0.5s;
        box-shadow: 1px 2px 5px -3px rgb(50 50 50 / 75%);
    }

    .sidebar .openbtn {
        position: absolute;
        bottom: 60px !important;
        right: 10px;
        font-size: 18px;
        cursor: pointer;
        background-color: #003897;
        color: #ffffff;
        padding: 3.5px 10px;
        border: none;
        border-radius: 40px;
    }

    .title-active-pages {
        width: 500px;
        height: 55px;
        bottom: 280px;
        position: fixed;
        left: -218px !important;
        transform: rotate(270deg);
        text-transform: uppercase;
        font-weight: bold;
        font-size: 2vh;
        padding-top: 12px;
    }
}

.menu-icon-child-home {
    position: absolute;
    left: 7.5px;
    top: 3px;
}

.menu-icon-child-order {
    position: absolute;
    left: 13px;
    top: 3px;
}

.menu-icon-child-coins {
    position: absolute;
    left: 9px;
    top: 3px;
}

.menu-icon-child-users {
    position: absolute;
    left: 7px;
    top: 3px;
}

.menu-icon-child-money {
    position: absolute;
    left: 6.2px;
    top: 4px;
}

.menu-icon-child-company {
    position: absolute;
    left: 10px;
    top: 4px;
}

.menu-icon-child-all {
    position: absolute;
    left: 12px;
    top: 4px;
}

.scroll-sidebar {
    overflow-x: hidden;
    height: 87vh;
}

.badge-icon {
    right: -4px;
    font-size: 10px;
    top: -5px;
}

.list-group-name {
    padding: 12px 0px !important;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 5;
    top: 67.62px;
    left: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    transition: 0.5s;
    box-shadow: 1px 2px 5px -3px rgb(50 50 50 / 75%);
}

.sidebar .openbtn {
    position: absolute;
    bottom: 78px;
    right: 10px;
    font-size: 18px;
    cursor: pointer;
    background-color: #003897;
    color: #ffffff;
    padding: 3.50px 10px;
    border: none;
    border-radius: 40px;
}

.child-block {
    margin-left: 68px;
}

.fa-angle-left {
    padding: 0px 3px;
}

@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }

    .sidebar a {
        font-size: 18px;
    }
}

.menu-item>.list-group-item {
    position: relative;
    display: block;
    padding: 10px 10px;
    background-color: transparent !important;
    border: none !important;
}

.menu-item-name {
    vertical-align: middle;
}

.menu-item>li {
    background-color: transparent !important;
}

.hidden-left-block {
    width: 58px;
    background-color: #fafafa;
    position: absolute;
    bottom: 0;
    top: 0;
}

.router-link-exact-active {
    color: #003897 !important;
}

.menu-item-link {
    color: #1D120A;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none !important;
}

.menu-item-link:hover {
    color: #003897;
}

.menu-icon-block {
    width: 35px;
    height: 35px;
    background: #E4E6EB;
    border-radius: 25px;
    position: relative;
    margin-right: 18px;
}

.menu-icon-child {
    position: absolute;
    left: 9px;
    top: 3px;
}

ul {
    list-style: none;
    padding-left: 0;
}

.parent_item>a {
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $brown;
    font-weight: bold;
    text-decoration: none;
}

.parent_item>a:hover,
.parent_item>a.router-link-exact-active,
.parent_item .nav-link.active {
    color: $orange;
}

.child_item {
    margin-bottom: 15px;
    line-height: 15px;
}

.child_item>a {
    font-size: 13px;
    line-height: 14px;
    text-transform: uppercase;
    color: $brown;
    text-decoration: none;
}

.child_item>a:hover,
.child_item>a.router-link-exact-active {
    color: $orange;
}

.child_item_block {
    padding-left: 25px;
}

.parent_item_block>li {
    padding-bottom: 10px;
}

.child_item_block>li {
    padding-bottom: 10px;
}

.fa-chevron-right {
    font-size: 13px;
    color: $orange;
}

.dropdown-item.active,
.dropdown-item:active {
    background-color: #003897;
}

.title-active-pages {
    width: 500px;
    height: 55px;
    bottom: 280px;
    position: fixed;
    left: -218px;
    transform: rotate(270deg);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2vh;
    padding-top: 14px;
}
