.table {
    font-size: 13px !important;
}

.actions-table-sticky {
    position: sticky;
    top: 68px;
    background-color: #f8f9fa;
}

.table>thead {
    color: #AAAAAA;
    text-transform: uppercase;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 0 !important;
}

.table>thead>tr>th {
    font-size: 13px;
    font-weight: lighter;
}

.table th,
.table tr {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.page-item.active .page-link {
    z-index: 3;
    color: #FFFFFF;
    background-color: $orange;
    border-color: $orange;
}

.table_pagination {
    display: flex;
    justify-content: center;
}

.page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #dee2e6;
    background-color: #FFFFFF;
    border: 1px solid #dee2e6;
}

.page-link:hover {
    z-index: 2;
    color: #003897;
    text-decoration: none;
    background-color: #FFFFFF;
    border-color: #003897;
}

.input_table_search {
    float: left !important;
    width: 200px !important;
    height: 28px !important;
    background-color: transparent !important;
    border-bottom: 1px solid #dee2e6 !important;
    border-left: 1px solid #dee2e6 !important;
    border-right: 1px solid #dee2e6 !important;
    border-top: 1px solid #dee2e6 !important;
    padding-left: 15px !important;
    margin-left: 7px !important;
    border-radius: 35px !important;
}

.fa-search {
    margin-top: 4px;
    color: #AAAAAA;
    font-size: 20px;
}

.table_actions_open,
.table_actions_edit,
.table_actions_back_detail {
    color: $brown;
    cursor: pointer;
}

.table_actions_icon {
    color: $brown;
}

.table_actions_icon:hover,
.table_actions_open:hover {
    color: $green;
}

.table_actions_edit:hover {
    color: $orange;
}

.table_actions_delete {
    color: $red;
    cursor: pointer;
}

.table_actions_back_detail:hover {
    color: $brown;
}

.table.service-properties-table.b-table.b-table-stacked>tbody>tr>[data-label]::before {
    text-align: left;
    width: 35%;
    font-weight: normal;
    color: #9D9D9D;
}

.table-responsive {
    position: relative;
}

.b-table-sticky-header,
.table-responsive,
[class*="table-responsive-"] {
    >.table.b-table {

        >thead,
        >tbody,
        >tfoot {
            >tr>.b-table-sticky-column {
                position: sticky;
                left: 0;
                right: 0 !important; //add sticky right
                text-align: center;
            }
        }
    }
}

// Success hover row
.table-success,
.table-success>th,
.table-success>td {
    background-color: #acc9bf;
}

.table.b-table>thead>tr.table-success>.table-b-table-default,
.table.b-table>tbody>tr.table-success>.table-b-table-default,
.table.b-table>tfoot>tr.table-success>.table-b-table-default {
    background-color: #acc9bf !important;
    background-image: none !important;
}

.table-success th,
.table-success td,
.table-success thead th,
.table-success tbody+tbody {
    border-color: #acc9bf !important;
}

//

//Danger hover row
.table-danger,
.table-danger>th,
.table-danger>td {
    background-color: #f4b0af;
}

.table.b-table>thead>tr.table-danger>.table-b-table-default,
.table.b-table>tbody>tr.table-danger>.table-b-table-default,
.table.b-table>tfoot>tr.table-danger>.table-b-table-default {
    background-color: #f4b0af !important;
    background-image: none !important;
}

.table-danger th,
.table-danger td,
.table-danger thead th,
.table-danger tbody+tbody {
    border-color: #f4b0af !important;
}

//

//Warning hover row
.table-warning,
.table-warning>th,
.table-warning>td {
    background-color: #fff8b3;
}

.table.b-table>thead>tr.table-warning>.table-b-table-default,
.table.b-table>tbody>tr.table-warning>.table-b-table-default,
.table.b-table>tfoot>tr.table-warning>.table-b-table-default {
    background-color: #fff8b3 !important;
    background-image: none !important;
}

.table-warning th,
.table-warning td,
.table-warning thead th,
.table-warning tbody+tbody {
    border-color: #fff8b3 !important;
}

//

.table-hover .table-success:hover {
    color: #000;
}

.table-action-cell {
    width: 100px;
}

.table th,
.table td {
    padding: 0.75rem;
    vertical-align: middle !important;
    border-top: 1px solid #dee2e6;
}

.table.b-table.b-table-stacked>tbody>tr> :first-child {
    border-top-width: 2px;
    border-color: #003897;
}

@media (max-width: 767.98px) {

    .fa-search,
    .fa-user-plus {
        display: none;
    }

    .input_table_search {
        margin-left: 0 !important;
    }
}

.table-fixed {
    table-layout: fixed;
}

// Action button table
.table_actions_supply,
.table_actions_create_order {
    background-color: #003897;
}

.table_actions_create_order:hover,
.table_actions_supply:hover {
    background-color: #e06100;
}

.table_create_to {
    background-color: #52ae34;
}

.table_create_to:hover {
    background-color: #09402f;
}

.table_actions_supply,
.table_actions_create_order,
.table_create_to {
    text-transform: uppercase !important;
    font-size: 12px;
    position: relative;
    padding: 5px 50px;
    color: white !important;
    cursor: pointer;
}

.table_actions_supply_сreate_request {
    text-transform: uppercase !important;
    font-size: 12px;
    position: relative;
    padding: 5px 60px;
    color: white !important;
    cursor: pointer;
}

.table_actions_supply_сreate_request:hover {
    background-color: #e06100;
}

.table_actions_supply_сreate_request {
    background-color: #003897;
}

.table_actions_supply_сreate_request-title {
    position: absolute;
    left: 11px;
    top: 3px;
}

.table_create_to-title {
    position: absolute;
    left: 5px;
    top: 3px;
}

.table_actions_supply-title {
    position: absolute;
    left: 16px;
    top: 3px;
}

.table_actions_create_order-title {
    position: absolute;
    left: 26px;
    top: 3px;
}

.table_actions_supply_create_score-title {
    position: absolute;
    left: 10px;
    top: 2.5px;
}

//

//MOBILE VERSION
.button-create {
    color: #ffffff;
    background-color: #003897;
    padding: 6px 8px;
    border-radius: 25px;
    box-shadow: 0 0 2px 0px rgb(50 50 50 / 75%);
}

.button-reload-table {
    padding: 6px 13px;
    color: #ffffff;
    background-color: #003897;
    position: relative;
    height: 28px;
    border-radius: 30px !important;
}

.button-reload-table:hover {
    color: white !important;
}

.reload-sync-icon {
    position: absolute;
    left: 6px;
    top: 6.5px;
}

.button-filter-table {
    padding: 6px 14px;
    color: #ffffff;
    background-color: #003897;
    border-radius: 25px;
    box-shadow: 0 0 2px 0px rgb(50 50 50 / 75%);
    position: relative;
}

.filter-table-icon {
    position: absolute;
    left: 9px;
    top: 5px;
}

@media screen and (max-width: 768px) {
    .input_table_search {
        float: left !important;
        width: 100% !important;
        height: 26px !important;
        background-color: transparent !important;
        border-bottom: 1px solid #dee2e6 !important;
        border-left: 1px solid #dee2e6 !important;
        border-right: 1px solid #dee2e6 !important;
        border-top: 1px solid #dee2e6 !important;
        padding-left: 15px !important;
        margin-left: 7px !important;
        border-radius: 35px !important;
    }

    .filter-mobile-block {
        width: 43vh;
        overflow-y: hidden;
        overflow-x: scroll;
        margin-left: 15px;
        padding-bottom: 10px;
    }
}
